@model Product
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home Page";
}
@{
    <form asp-action="UpdateProduct" method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <div class="row">
            <div class="col-sm-6">
                <label for="ProductName">اسم المنتج</label>
                <input asp-for="@Model.ProductName" class="form-control" id="ProductName" name="ProductName" />
            </div>
            
                <div class="col-sm-12 mt-5">
                    <button type="submit" class="btn btn-primary rounded-pill pl-5"> حفظ </button>
                </div>
        </div>
               
    </form>
}
