@model IEnumerable<Product>;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = "Home Page";
}

<body dir="rtl" id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">



	<div class="row ">
		<div class="col-sm-2">
			<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
				<!--begin::sidebar-->
				<div id="kt_app_sidebar" class="app-sidebar flex-column" data-kt-drawer="true" data-kt-drawer-name="app-sidebar" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="225px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_app_sidebar_mobile_toggle" style="min-height:500px;">
					<!--begin::sidebar menu-->
					<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
						<!--begin::Menu wrapper-->
						<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true" data-kt-scroll-activate="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer" data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px" data-kt-scroll-save-state="true">
							<!--begin::Menu-->
							<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true" data-kt-menu-expand="false">
								<!--begin:Menu item-->
								<div data-kt-menu-trigger="click" class="menu-item here show menu-accordion">
									<!--begin:Menu link-->
									<span class="menu-link">
										<span class="menu-icon">
											<!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
											<span class="svg-icon svg-icon-2">
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
													<rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />
													<rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />
													<rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />
													<rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />
												</svg>
											</span>
											<!--end::Svg Icon-->
										</span>
										<span class="menu-title" style="font-family:Cairo">لوحة التحكم</span>
										<span class="menu-arrow"></span>
									</span>
									<!--end:Menu link-->
									<!--begin:Menu sub-->
									<div class="menu-sub menu-sub-accordion">
										<!--begin:Menu item-->


										<div class="menu-item">
											<!--begin:Menu link-->
											<a class="menu-link" asp-action="Index">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title" style="font-family:Cairo">المنتجات   </span>
											</a>
											<!--end:Menu link-->
										</div>
										<!--end:Menu item-->
										<!--begin:Menu item-->
										<div class="menu-item">
											<!--begin:Menu link-->
											<a class="menu-link" asp-action="ProductDetails">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title" style="font-family:Cairo"> تفاصيل المنتجات </span>
											</a>
											<!--end:Menu link-->
										</div>
										<!--end:Menu item-->
										<!--begin:Menu item-->
										<div class="menu-item">
											<!--begin:Menu link-->
											<a class="menu-link" asp-action="Customers">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title" style="font-family:Cairo">الزبائن </span>
											</a>
											<!--end:Menu link-->
										</div>
										<!--end:Menu item-->
										<!--begin:Menu item-->
										<div class="menu-item">
											<!--begin:Menu link-->
											<a class="menu-link" asp-action="Invoices">
												<span class="menu-bullet">
													<span class="bullet bullet-dot"></span>
												</span>
												<span class="menu-title" style="font-family:Cairo">الفواتير </span>
											</a>
											<!--end:Menu link-->
										</div>
										<!--end:Menu item-->

									</div>
									<!--end:Menu sub-->
								</div>






							</div>
							<!--end::Menu-->
						</div>
						<!--end::Menu wrapper-->
					</div>
					<!--end::sidebar menu-->
					<!--begin::Footer-->
					<!--end::Footer-->
				</div>
				<!--end::sidebar-->
				<!--begin::Main-->
				<!--end:::Main-->
			</div>
		</div>

		<div class="col-sm-10 bg-secondary ">
			<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
				<!--begin::Content wrapper-->
				<div class="d-flex flex-column flex-column-fluid">
					<!--begin::Toolbar-->
					<div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
						<!--begin::Toolbar container-->
						<!--end::Toolbar container-->
					</div>
					<!--end::Toolbar-->
					<!--begin::Content-->
					<div id="kt_app_content p-10" class="app-content flex-column-fluid">
						<!--begin::Content container-->
						<div id="kt_app_content_container p-5" class="app-container container-xxl">
							<div class="card">
								<!--begin::Card header-->
								<div class="card-header border-0 pt-6">
									<!--begin::Card title-->
									<div class="card-title">
										<form asp-action="Index" method="post">
											<div class="row">
												<div class="col-sm-6">
													<div class="p-2">

														<span class="form-control-icon"><i class="fa fa-search"></i></span>
														<input class="form-control icon" type="text" name="ProductName" id="ProductName" />
													</div>
												</div>
											</div>
										</form>
			
									</div>
									<!--begin::Card title-->
									<!--begin::Card toolbar-->
									<div class="card-toolbar">
										<!--begin::Toolbar-->
										<div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
											<button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal"> إضافة منتج جديد</button>
											<!--end::Add customer-->
										</div>
										<!--end::Toolbar-->
										<!--begin::Group actions-->
										<div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
											<div class="fw-bold me-5">
												<span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected
											</div>
											<button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">Delete Selected</button>
										</div>
										<!--end::Group actions-->
									</div>
									<!--end::Card toolbar-->
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body pt-0">
									<!--begin::Table-->
									<table class="table align-middle table-row-dashed fs-6 gy-5 text-center product-table" id="kt_customers_table">
										<!--begin::Table head-->
										<thead>
											<!--begin::Table row-->
											<tr class="text-gray-400 fw-bold fs-7 text-uppercase gs-0">

												<th  style="font-family:cairo">رقم المنتج </th>
												<th  style="font-family:cairo"> اسم المنتج </th>
												<th  style="font-family:cairo" colspan="2">إجراء </th>

											</tr>

											<!--end::Table row-->
										</thead>
										<!--end::Table head-->
										<!--begin::Table body-->
										<tbody class="fw-semibold text-gray-600">
											@if (Model != null)
											{
												@foreach (var item in Model)
												{
													<tr>
														<td>@item.Id</td>
														<td>@item.ProductName</td>
														<td><a class="col-6 text-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a></td>
														<td><a class="col-6 text-info" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-edit"></i></a></td>
													</tr>
												}
											}

										</tbody>
										<!--end::Table body-->
									</table>
									<!--end::Table-->
								</div>
								<!--end::Card body-->
							</div>


							<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header row">
											<h5 class="modal-title col-11" id="exampleModalLabel">إضافة منتج جديد</h5>
											<button type="button" class="btn-close  col-1" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<form asp-action="CreateNewProduct" method="post">
											<div class="modal-body">
												<div class="col-6 mb-3">
													<label for="ProductName" class="form-label">اسم المنتج</label>
													<input type="text" class="form-control" name="ProductName" id="ProductName">
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="btn btn-primary rounded-pill">اضافة</button>
												<button type="button" class="btn btn-secondary rounded-pill" data-bs-dismiss="modal">الغاء</button>
											</div>
										</form>

									</div>
								</div>
							</div>


						</div>
						<!--end::Content container-->
					</div>
					<!--end::Content-->
				</div>

			</div>
		</div>
	</div>









</body>



